.DS_Store
Clexane.xcodeproj/project.xcworkspace/xcuserdata/davidsayag.xcuserdatad/UserInterfaceState.xcuserstate
Clexane.xcodeproj/xcuserdata/davidsayag.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

